<a data-action="back" class="tpbtn">Nevermind. . .</a>
<br />
<textarea id="announcementInput" class="editor" name="text"></textarea>
<a data-action="post" class="btn btn-primary">Create announcement!</a>
