<form>
	<label for="title">Course Title</label> <input class="span8"
		type="text" name="title" value="{{title}}" /> <label
		for="description">Course Description</label>
	<textarea class="span8" name="description">{{description}}</textarea>
	<input type="submit" id="courseSettingsBasicSubmit"
		class="btn btn-primary btn-large center"
		value="Update basic information" />
</form>